body {
  text-align: center;
  background-color: #222222;
}

h1 {
  font-family: 'Indie Flower', cursive;
  text-shadow: rgba(242, 111, 242, 1) 1px 0 10px;
}

#modal_content {
  display: none;
  position: fixed;
  background-color: #fefefe;
  margin-top: 20%;
  margin-left: 7%;
  padding: 20px;
  border: 1px solid gray;
  width: 80%;
  border-radius: 15px;
  box-shadow: inset 0px 0px 100px 0px gray;
}

#close {
  color: gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
